{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container-fluid py-4 text-center">
    <p class="text-lg"><strong>My Core Competency </strong></p>

</section>

<section class="container-fluid row text-center d-flex align-items-center" >

        <div class="Language Performance px-6 chart-container col-3">

            <canvas id="myChart1"></canvas>

        </div>

        <!-- New chart container -->


        <div class="px-6 chart-container-2 col-6">

            <canvas id="myChart3"></canvas>

        </div>

        <div class="card bg-light col-3">
            <div class="card-body text-left row">
                <div class="col-5 my-2">Skilled Lang</div> <div class="col-1 my-2">:</div> <div class="col-6 my-2">{{ max_lang_used }}</div>
                <div class="col-5 my-2">Accuracy:</div><div class="col-1 my-2">:</div><div class="col-6 my-2">{{ accuracy|floatformat  }} %</div>
                <div class="col-5 my-2">Solved:</div><div class="col-1 my-2">:</div><div class="col-6 my-2">{{ solved  }} Ques</div>
                <!-- <div class="col-8">Most used Language:</div><div class="col-4">{{ max_lang_used }}</div> -->
            </div>
        </div>

</section>

<section class="container-fluid my-6 text-center">
    <p class="text-lg"><strong>Topic Level Analysis </strong></p>
</section>

<section class="container-fluid row text-center d-flex align-items-center" >

    <!-- <div class="Language Performance px-6 chart-container col-3">
        <canvas id="TopicChart1"></canvas>
    </div> -->

    <div class="Language Performance my-4 px-6 chart-container-1 col-3">

        <canvas id="myChart2"></canvas>

    </div>
    
    <div class="px-6 col-6 chart-container-1">

            <canvas id="myChart4"></canvas>

    </div>


    <div class="card bg-light col-3">
        <div class="card-body text-left row shadow-sm">
            <div class="col-5 my-2">Skilled Topic</div><div class="col-1 my-2">:</div><div class="col-6 my-2">{{ skilled_topic.topic }}</div>
            <div class="col-5 my-2">Accuracy</div><div class="col-1 my-2">:</div><div class="col-6 my-2">{{ skilled_topic.accuracy|floatformat  }} %</div>
            <div class="col-5 my-2">Solved</div><div class="col-1 my-2">:</div><div class="col-6 my-2">{{ skilled_topic.solved  }} Ques</div>
            <!-- <div class="col-8">Most used Language:</div><div class="col-4">{{ max_lang_used }}</div> -->
        </div>
    </div>

</section>

<section class="container-fluid my-6 text-center">
    <p class="text-lg"><strong>Company Recommendation</strong></p>
</section>



<section  class="container-fluid row text-center d-flex justify-content-center ">
    <div class="col-10 ">
        <!-- <div class="row"> -->

        {% for c in final_cr %}
        <div class="container-fluid row shadow-lg mb-5">
            <div class="Language Performance my-4 p-6 chart-container-1 col-2">
                <br>
                <h2><strong>{{ c.comp }} - {{ c.accuracy }} % </strong></h2>
                <br>
                <canvas id="{{ c.comp }}" width="100" height="100"></canvas>
            </div>

            <div class="my-4 ml-6 p-6 text chart-container-1 col-6">
                <br><p class="text-left"><strong>Recommended Courses: </strong></p> <br>
                {% for course in c.recm_courses %}
                    <a
      class="!font-medium !text-blue-gray-900 !transition-colors hover:!text-pink-500"
      href="#"
    >
      <button
        class="flex select-none items-center gap-2 rounded-lg py-2 ml-14 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-pink-500 transition-all bg-pink-500/10 active:bg-pink-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button"
        data-ripple-dark="true"
      >
        {{ course.c_name }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          aria-hidden="true"
          class="h-4 w-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
    </a>  <br>
                {% endfor %}
            </div>

        <div class="my-4 p-6 text-left text-black chart-container-1 col-3">
        <br> <p class="text-left"><strong> Topics To imporve: </strong> </p> <br>

            {% for st in c.topic_to_look %}
            <p> {{ st.subTopic }} </p> 
            {% endfor %}

        </div>


        </div>

        {% endfor %}
        <!-- </div> -->
    </div>
</div>
</section>

<section>


    
</section>


<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>



    <script>

        const ctx1 = document.getElementById('myChart1');

        const ctx2 = document.getElementById('myChart2');

        const ctx3 = document.getElementById('myChart3'); 

        const ctx4 = document.getElementById('myChart4'); // New chart canvas

        const mtx1 = document.getElementById('TopicChart1');

 

        new Chart(ctx1, {

            type: 'pie',

            data: {

                labels: [
                    {% for items in lang_data %}  
                        "{{ items.language_used }}" ,
                    {% endfor %}
                ],

                datasets: [{

                    label: 'COD Attended',

                    data: [
                        {% for items in lang_data %}  
                            {{ items.attended }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                }]

            },

            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Activity Analysis',
                        position: 'top' // You can specify 'top', 'left', 'right', or 'bottom'
                    },
                    datalabels: { // Configure the datalabels plugin
                        display: true, // Show data labels by default
                        color: 'white' // Set the color of the data labels
                    },
                },

                scales: {

                    y: {

                        beginAtZero: true

                    }

                }

            }

        });

 

        new Chart(ctx2, {

            type: 'doughnut',

            data: {

                labels: [
                    {% for items in topic_data %}  
                        "{{ items.ModuleName }}" ,
                    {% endfor %}
                ],

                datasets: [{

                    label: 'COD Attended',

                    data: [
                        {% for items in topic_data %}  
                            {{ items.attended }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                }]

            },

            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Activity Analysis',
                        position: 'top' // You can specify 'top', 'left', 'right', or 'bottom'
                    },
                    datalabels: { // Configure the datalabels plugin
                        display: true, // Show data labels by default
                        color: 'white' // Set the color of the data labels
                    },
                },

                scales: {

                    y: {

                        beginAtZero: true

                    }

                }

            }

        });

 

        // New Chart

        new Chart(ctx3, {

            type: 'bar',

            data: {

                labels: [
                    {% for items in lang_data %}  
                        "{{ items.language_used }}" ,
                    {% endfor %}
                ],

                datasets: [{

                    label: 'Easy Correct',

                    data: [
                        {% for items in lang_data %}  
                            {{ items.Easy_correct_questions }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                },{

                    label: 'Medium Correct',

                    data: [
                        {% for items in lang_data %}  
                            {{ items.medium_correct_questions }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                },{

                    label: 'Hard Correct',

                    data: [
                        {% for items in lang_data %}  
                            {{ items.Hard_correct_questions }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                }
                ]

            },

            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Difficulty Level',
                        position: 'top' // You can specify 'top', 'left', 'right', or 'bottom'
                    },
                    datalabels: { // Configure the datalabels plugin
                        display: true, // Show data labels by default
                        color: 'white' // Set the color of the data labels
                    },
                },

                scales: {

                    y: {

                        beginAtZero: true

                    }

                }

            }

        });


        // New Chart

        new Chart(ctx4, {

            type: 'bar',

            data: {

                labels: [
                    {% for items in topic_data %}  
                        "{{ items.ModuleName }}" ,
                    {% endfor %}
                ],

                datasets: [{

                    label: 'Easy Correct',

                    data: [
                        {% for items in topic_data %}  
                            {{ items.Easy_correct_questions }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                },{

                    label: 'Medium Correct',

                    data: [
                        {% for items in topic_data %}  
                            {{ items.medium_correct_questions }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                },{

                    label: 'Hard Correct',

                    data: [
                        {% for items in topic_data %}  
                            {{ items.Hard_correct_questions }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                }]

            },

            options: {

                plugins: {
                    title: {
                        display: true,
                        text: 'Activity Analysis',
                        position: 'top' // You can specify 'top', 'left', 'right', or 'bottom'
                    },
                    datalabels: { // Configure the datalabels plugin
                        display: true, // Show data labels by default
                        color: 'white' // Set the color of the data labels
                    },
                },

                scales: {

                    y: {

                        beginAtZero: true

                    }

                }

            }

        });



        // Topic wise Charts:

        new Chart(mtx1, {

            type: 'pie',

            data: {

                labels: [
                    {% for items in lang_data %}  
                        "{{ items.language_used }}" ,
                    {% endfor %}
                ],

                datasets: [{

                    label: 'COD Attended',

                    data: [
                        {% for items in lang_data %}  
                            {{ items.Questions_Correct }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                }]

            },

            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Activity Analysis - Correct',
                        position: 'top' // You can specify 'top', 'left', 'right', or 'bottom'
                    },
                    datalabels: { // Configure the datalabels plugin
                        display: true, // Show data labels by default
                        color: 'white' // Set the color of the data labels
                    },
                },

                scales: {

                    y: {

                        beginAtZero: true

                    }

                }

            }

        });

    </script>



    <script>
    // Function to generate random colors
    function getRandomColor() {
        const letters = '0123456789ABCDEF';
        let color = '#';
        for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    // Create doughnut chart data for each percentage with different random colors
    function createDoughnutChart(canvasId, percentage) {
        const data = {
            datasets: [{
                label: 'Probability',
                data: [percentage, 100 - percentage], // Percentage values
                backgroundColor: [getRandomColor(), '#d3d3d3'], // Random color and gray
            }]
        };

        new Chart(document.getElementById(canvasId), {
            type: 'doughnut',
            data: data,
            options: {
                plugins: {
                    legend: {
                        display: false,
                    },
                },
            },
        });
    }

    // Create doughnut charts

    // createDoughnutChart('doughnutChart5', 80);

    {% for c in final_cr %}
        createDoughnutChart('{{ c.comp }}', {{ c.accuracy }});
    {% endfor %}

</script>


{% endblock %}
