{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container-fluid py-4 text-center">
    My Dashboard
</section>

<section class="container-fluid row text-center d-flex align-items-center" >

        <div class="Language Performance px-6 chart-container col-3">

            <canvas id="myChart1"></canvas>

        </div>

        <!-- New chart container -->


        <div class="px-6 chart-container-2 col-6">

            <canvas id="myChart3"></canvas>

        </div>

        <div class="card bg-light col-3">
            <div class="card-body text-center">
                <p class="card-text">Most used Language:  {{ max_lang_used }}</p>
            </div>
        </div>

        <div class="Language Performance my-4 px-6 chart-container-1 col-3">

            <canvas id="myChart2"></canvas>

        </div>

<!-- 
        <div class="px-6 chart-container-1">

            <canvas id="myChart4"></canvas>

        </div> -->


                <!-- Buttons -->
<!-- 
        <div class="button-container">

            <button class="button">C</button>

            <button class="button">C ++</button>

            <button class="button">Python</button>

            <button class="button">Java</button>

            <button class="button">DBMS</button>

        </div> -->


</section>

    <script>

        const ctx1 = document.getElementById('myChart1');

        const ctx2 = document.getElementById('myChart2');

        const ctx3 = document.getElementById('myChart3'); 

        const ctx4 = document.getElementById('myChart4'); // New chart canvas

 

        new Chart(ctx1, {

            type: 'pie',

            data: {

                labels: [
                    {% for items in lang_data %}  
                        "{{ items.language_used }}" ,
                    {% endfor %}
                ],

                datasets: [{

                    label: 'COD Attended',

                    data: [
                        {% for items in lang_data %}  
                            {{ items.attended }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                }]

            },

            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Activity Analysis - Attended',
                        position: 'top' // You can specify 'top', 'left', 'right', or 'bottom'
                    },
                    datalabels: { // Configure the datalabels plugin
                        display: true, // Show data labels by default
                        color: 'white' // Set the color of the data labels
                    },
                },

                scales: {

                    y: {

                        beginAtZero: true

                    }

                }

            }

        });

 

        new Chart(ctx2, {

            type: 'doughnut',

            data: {

                labels: [
                    {% for items in lang_data %}  
                        "{{ items.language_used }}" ,
                    {% endfor %}
                ],

                datasets: [{

                    label: '# of Votes',

                    data: [
                        {% for items in lang_data %}  
                            {{ items.Questions_Correct }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                }]

            },

            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Activity Analysis - Correct',
                        position: 'top' // You can specify 'top', 'left', 'right', or 'bottom'
                    },
                    datalabels: { // Configure the datalabels plugin
                        display: true, // Show data labels by default
                        color: 'white' // Set the color of the data labels
                    },
                },

                scales: {

                    y: {

                        beginAtZero: true

                    }

                }

            }

        });

 

        // New Chart

        new Chart(ctx3, {

            type: 'bar',

            data: {

                labels: [
                    {% for items in lang_data %}  
                        "{{ items.language_used }}" ,
                    {% endfor %}
                ],

                datasets: [{

                    label: 'Easy',

                    data: [
                        {% for items in lang_data %}  
                            {{ items.Easy_correct_questions }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                },{

                    label: 'Medium',

                    data: [
                        {% for items in lang_data %}  
                            {{ items.medium_correct_questions }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                },{

                    label: 'Hard',

                    data: [
                        {% for items in lang_data %}  
                            {{ items.Hard_correct_questions }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                }
                ]

            },

            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Difficulty Level',
                        position: 'top' // You can specify 'top', 'left', 'right', or 'bottom'
                    },
                    datalabels: { // Configure the datalabels plugin
                        display: true, // Show data labels by default
                        color: 'white' // Set the color of the data labels
                    },
                },

                scales: {

                    y: {

                        beginAtZero: true

                    }

                }

            }

        });


        // New Chart

        new Chart(ctx4, {

            type: 'bar',

            data: {

                labels: [
                    {% for items in lang_data %}  
                        "{{ items.language_used }}" ,
                    {% endfor %}
                ],

                datasets: [{

                    label: 'Attended',

                    data: [
                        {% for items in lang_data %}  
                            {{ items.attended }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                },{

                    label: 'Correct',

                    data: [
                        {% for items in lang_data %}  
                            {{ items.Questions_Correct }} ,
                        {% endfor %}
                    ],

                    borderWidth: 1

                }]

            },

            options: {

                plugins: {
                    title: {
                        display: true,
                        text: 'Activity Analysis',
                        position: 'top' // You can specify 'top', 'left', 'right', or 'bottom'
                    },
                    datalabels: { // Configure the datalabels plugin
                        display: true, // Show data labels by default
                        color: 'white' // Set the color of the data labels
                    },
                },

                scales: {

                    y: {

                        beginAtZero: true

                    }

                }

            }

        });

    </script>


{% endblock %}
